.richText {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  p {
    margin: 1rem 0;
  }

  ul {
    margin: 1rem 2rem;
    list-style-type: disc;

    li {
      margin: 0.75rem;
    }
  }

  ol {
    margin: 1rem 2rem;
    list-style: decimal;

    li {
      margin: 0.75rem;
    }

    & ol {
      list-style: lower-alpha;
    }
  }
}
